<div class="row">

  <div class="col-md mb-2">
      <div class="card">

        <div class="card-header">
            <i class="fa fa-list-ul" aria-hidden="true"></i>
            Contatos
            <button class="btn btn-sm btn-outline-secondary float-right" (click)="showNewContactForm()">Adicionar</button>
        </div>

        <div class="card-body"> 


          <ul class="list-group">
              <li *ngFor="let contact of contacts" class="list-group-item list-group-item-success">
              <!-- COMPONENT CONTACT -->
                <app-contact
                   [contact]="contact"
                   (contactDeleted)="delete(contact)"
                   (contactEdit)="edit(contact)">
                </app-contact>
              </li>
          </ul>

      </div>    
    </div> 
  </div>

  

  <!-- CREATE CONTACT FORM -->
  <div *ngIf="showCreate" class="col-md-4 mb-2">
    <div class="containerAdd">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          Novo
          <button
            (click)="showNewContactForm()"
            class="btn btn-sm btn-outline-secondary float-right">
            Cancelar
          </button>
        </div>
        <div class="card-body">
          <div class="form-group">
            
            <div class="input-group">

              <label>Nome:&nbsp;&nbsp;</label>
              <input type="text" class="form-control" [(ngModel)]="inputName" />

              &nbsp;&nbsp;&nbsp;

              <label>Fone:&nbsp;&nbsp;</label>
              <input type="text" class="form-control" [(ngModel)]="inputPhone" />


              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button" (click)="insertContact()">Inserir</button>
              </span>

            </div>
          </div>
        </div>
      </div>
    </div><!-- container -->
  </div>

    <!-- CREATE CONTACT EDIT FORM -->
    <div *ngIf="showCreateEdit" class="col-md-4 mb-2">
        <div class="containerAdd">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              Editar
              <button
                (click)="showNewContactEditForm()"
                class="btn btn-sm btn-outline-secondary float-right">
                Cancelar
              </button>
            </div>
            <div class="card-body">
              <div class="form-group">
                
                <div class="input-group">
    
                  <label>Nome:&nbsp;&nbsp;</label>
                  <input type="text" class="form-control" [(ngModel)]="contact.name" />
    
                  &nbsp;&nbsp;&nbsp;
    
                  <label>Fone:&nbsp;&nbsp;</label>
                  <input type="text" class="form-control" [(ngModel)]="contact.phone" />
    
    
                  <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button" (click)="editContact()">Alterar</button>
                  </span>
    
                </div>
              </div>
            </div>
          </div>
        </div><!-- container -->
      </div>

</div>